*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style-type: none;
    text-decoration: none;
}
header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}
body{
    background: #555856
}

.logo{
    font-size: 30px;
    font-weight: 700;
    color: white;

}
.navlist{
    display: flex;
}
.navlist a{
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}
.navlist a:hover{
    border-bottom: 2px solid white;
}
#menu-icon{
    color: white;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

section{
    padding: 0 19%;
}

.hero {
    margin-top: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 80vh;
    padding: 20px;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('klogoo.png'); /* Replace with your image path */
    background-size: contain; /* Adjust size */
    background-repeat: no-repeat; /* Prevent tiling */
    background-position: center; /* Center the image */
    opacity: 0.3; /* Reduce image visibility */
    z-index: 1;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    z-index: 1;
}

.hero-text {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    z-index: 2;
}

.hero-text h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 70px;
    margin-top: 100px;
    margin-bottom: 25px;
    color: white;
}

.hero-text h4 {
    font-size: 20px;
    line-height: 1.6;
    color: white;
    margin-bottom: 10px;
}

.hero-text h1:nth-of-type(2) {
    margin-top: 70px;
}











.container {
    position: relative;
    max-width: 800px;
    width: 100%;
    border-radius: 8px;
    padding: 30px;
    margin: 100px auto; /* Set left and right margin to 'auto' */
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}


.form.first .title {
    display: block;
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
    color: #2e2e2e;
}

.container form{
    position: relative;
    margin-top: 16px;
    min-height: 490px;
    background-color: #fff;
}

.container form.details{
    margin-top: 30px;

}
.container form.details.ID{
    margin-top: 10px;

}
.container form .titled{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500px;
    margin: 6px 0;
    color: #333;

}

.container form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

form .fields .input-field{
    display: flex;
    width: calc(100% / 3 -15px);
    flex-direction: column;
    margin: 4px 0;
}
.input-field label{
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;

}
.input-field input{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}
.input-field input:is(:focus, :valid){
    box-shadow: 0 3px 6px rgba(6, 216, 76, 0.493);
}
.input-field input[type="date"]{
    color: #38703d;
}
.input-field input[type="date"]:valid{
    color: #4d9559;
}

.container form button{
    display: inline-block;
    color: white;
    background: #4d9559;
    border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 18px;
    text-transform: uppercase;
    transition: all .55s ease;
}
.container form button:hover{
background: white;
border: 1px solid #013305;
transform: translateX(8px);
color: black;
}






@media (max-width: 1535px){
    header{
        padding: 15px 3%;
        transition: .2s;
    }
    .scroll-down{
        right: 3%;
        transition: .2s;
    }
}

@media (max-width: 1460px){
    section{
        padding: 0 12%;
        transition: .2s;
    }
}



@media (max-width: 1195px){
    section{
        padding: 0 3%;
        transition: .2%;
    }
    
    .scroll-down{
        display: none;
    }

}


@media (max-width: 990px) {
    #menu-icon {
        display: block;
    }
    .navlist{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 40vh;
        background: #4d9559;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
        transition: all .55s ease;
    }
    .navlist a{
        margin-left: 0;
        display: block;
        margin: 7px 0;
    }
    .navlist.open{
        right: 0;
    }
}

